scikit-image==0.19.1
scipy==1.8.0
scikit-learn==1.0.2
smplx==0.1.28
tqdm
yacs==0.1.8
numba==0.55.0
opencv-python==4.5.5.64
tensorboard
filterpy==1.4.5
cython==0.29.26
chumpy==0.70
trimesh==3.9.39
pyrender==0.1.45
matplotlib==3.5.1
json_tricks==3.15.5
torchgeometry==0.1.2
einops==0.4.0
joblib==1.1.0
boto3
requests
easydict
pycocotools
plyfile
timm
pyglet
psutil
seaborn
